.login {
  position: relative;
  .login_form > * {
    display: block;
  }

  .login_wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    .login,
    .signup {
      padding: 2rem;
      p,
      label,
      button {
        margin-bottom: 0.5rem;
      }
      form {
        width: 100%;
      }

      label:nth-child(2) {
        padding-bottom: 0.5rem;
      }

      .orange {
        color: var(--primary);
        font: var(--button);
        font-size: 0.8rem;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    box-shadow: var(--sm-shadow);
  }

  .button_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .overlay > * {
    color: var(--white);
    font-style: normal;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: brightness(0.6);
    z-index: -1;
  }

  .community {
    display: grid;
    grid-template-areas: "community";
    grid-area: two;
    height: 100%;
    .image {
      background-image: url("/images/c-d-x-PDX_a_82obo-unsplash.jpg");
      grid-area: community;
    }
    .overlay {
      grid-area: community;
      h1 {
        padding-left: 32%;
      }
      .article_title {
        padding: 2rem 1rem 0 10%;
      }
    }
  }
  .special {
    display: grid;
    grid-template-areas: "special";
    height: 100%;
    grid-area: four;
    .image {
      background-image: url("/images/nicholas-green-nPz8akkUmDI-unsplash.jpg");
      grid-area: special;
    }
    .overlay {
      grid-area: special;
      h1 {
        padding-left: 60%;
      }
      .article_title {
        padding: 2rem 1rem 0 20%;
      }
    }
  }
  .signup {
    height: 100%;
  }

  // FORGOT
  .forgot {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--white);
    .close {
      position: fixed;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: var(--white);
      cursor: pointer;
    }
    &.hide {
      display: none;
    }
  }
  .forgot_wrapper {
    height: fit-content;
    margin-bottom: 7rem;
    width: 100%;
    padding: 1rem;
    .article_title {
      color: var(--primary);
      margin-bottom: 1rem;
    }
    input {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    button {
      align-self: flex-end;
    }
  }
  .devider_wrapper {
    display: grid;
    grid-template-columns: auto 5rem auto;
    align-items: center;
    padding: 2rem 0;

    h1 {
      text-align: center;
    }
    .devider {
      background-color: var(--black);
      height: 1px;
      width: 100%;
    }
  }

  .password,
  .email {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  @media (min-width: 850px) {
    .login_wrapper {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "one two"
        "four three";
    }

    .community .overlay h1 {
      padding-left: 32%;
    }

    .community .overlay .article_title {
      padding: 35% 1rem 0 10%;
      font-size: 1.5rem;
    }
    .special .overlay h1 {
      padding-left: 55%;
    }
    .special .overlay .article_title {
      padding: 30% 1rem 0 10%;
      font-size: 1.5rem;
    }
    .forgot {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.651);

      .article_title {
        font-size: 1rem;
      }
    }
    .forgot > article {
      background-color: var(--white);
      width: 600px;
      height: 510px;
      padding: 2rem 4rem;
      border-radius: 5px;
    }
  }

  @media (min-width: 1100px) {
    .community .overlay h1 {
      padding-left: 32%;
    }
    .community .overlay .article_title {
      padding: 25% 1rem 0 10%;
      font-size: 1.5rem;
    }
    .special .overlay h1 {
      padding-left: 45%;
    }
    .special .overlay .article_title {
      padding: 20% 1rem 0 10%;
      font-size: 1.5rem;
    }
  }
}
